.button {
    font-size: rem(16px);
    font-weight: 800;
    padding: rem(21px) rem(41px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    background: #FEDB3F;
    color:#000000;
    border: none;
    display: inline-block;
    &:hover {
        background: #FFD517;
        cursor: pointer;
    }

    &--theme--transperent {
        background: transparent;
        color: #fff;
        &:hover {
            background: transparent;
            color: #FEDB3F;
            cursor: pointer;
        }
    }
}