.fixed-menu {
    position: fixed;
    top: 30%;
    right: 4%;
    z-index: $z-fixed-menu;

    &__shadowed {
        border-color: #000
    }

    @include tablets {
        display: none;
    }
}

.fixed-menu--shadowed .fixed-menu__item--active .fixed-menu__link {
    border-color: #000;
}

.fixed-menu--shadowed .fixed-menu__link::before {
    background: #000;
}

.fixed-menu__item {
    margin-bottom: rem(5px);

    &--active {
        .fixed-menu__link {
            border-color: #fff;
        }
    }
    :hover {
        border: rem(1px) solid transparent;
        border-color: #fff;
    }
}

.fixed-menu--shadowed .fixed-menu__link:hover {
    border: rem(1px) solid transparent;
    border-color: #000;
    border-radius: 100%;
}

.fixed-menu__link {
    width: rem(20px);
    height: rem(20px);
    border-radius: 50%;
    border: rem(1px) solid transparent;
    display: block;
    position: relative;

    &::before {
        content: "";
        display: block;
        width: rem(9px);
        height: rem(9px);
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}