.feautures {
    display: flex;    
}
.feautures__item {
    margin-right: rem(33px);
    &:last-child {
        margin-right: 0;
    }
}
.feauture {
    display: flex;
}
.feauture__icon {
    margin-right: rem(7px);
    display: flex;
    align-items: center;
}
.feauture__text {
    font-size: rem(16px);
    max-width: 
    rem(90px);
}

.feauture__icon-elem {
    width: rem(45px);
    height: rem(45px);
    fill: #fff;
}