.footer {
    padding: rem(23px) 0;
    background: #fff;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include phones {
            flex-direction: column;
        }
    }
    .phone-number__icon-elem {
        fill: #000;
    }
}

.socials {
    display: flex;
}

.social__icon {
    width: rem(25px);
    height: rem(25px);
    display: flex;
    justify-content: center;
    margin-right: rem(13px);
    fill: #B3B3B3;

    :hover {
        fill: #000;
    }

    :last-child {
        margin-right: 0;
    }
}

.contacts {
    font-style: normal;
    font-size: rem(21px);
    color:#000;

    @include phones {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items:center;
    }   
}

.phone-number__icon-elem {
    color: #292929;
}

